body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: whitesmoke;
  color: black;
}

body.dark {
  background-color: black;
  color: whitesmoke;
}

main {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#watch-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#button-section {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  flex-wrap: wrap;
}

.caption {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.button-container,
.toggle-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

.toggle-button-container {
  flex-direction: column;
}

.toggle-button {
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  background-color: white;
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: 0 0 5px gray;
  transition: background-color 0.25s ease, box-shadow 0.2s ease;
}

.toggle-button.on {
  box-shadow: 0 0 20px cyan;
}

body.dark .toggle-button.on {
  background-color: white;
}

.toggle-button.off {
  background-color: inherit;
}

body.dark .toggle-button.off {
  background-color: inherit;
}

.label {
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
}

.hidden {
  display: none;
}

.setting-button {
  background-color: whitesmoke;
  border: none;
  box-shadow: 0 0 5px grey;
  margin: 10px;
  min-width: 20px;
  min-height: 20px;
}
